<style>
.tb{
	
	background-color: LightSlateGray;
}

.footer{
	color: white;
}

.head{
	background-color: teal;
	color: white;
	padding: 10px;
}

.experience{
	border: solid;
}

.education{
	border: solid;
}

.honors{
	border: solid;
	
}

.skills{
	border: solid;
}

.extra{
	border: solid;
	
}
.topnav{
	
}
#content{
	color: white;
	width: 200px;

}
#resume{
	background-color:silver;
	width: 80%;
	border-style: solid;
	margin-right: 100px;
	margin-left: 150px;
	
	
}


#tbl{
	width: 100%;
	border-style: solid;
}




</style>

