<style>

#resume{
	background-color:silver;
	width: auto;
	border-style: solid;
	margin-right: 100px;
	margin-left: 75px;

	
}

.content{
	color: white;
	font-size: 40;
	
}

.footer{
	color: white;
}

.head{
	background-color: teal;
	color: white;
	padding: 10px;
}

#resume{
	background-color:silver;
	width: 80%;
	border-style: solid;
	margin-right: 100px;
	margin-left: 75px;
	
	
}


#tbl{
	font-family:arial;
	font-size: 20px;
	width: 100%;
}



#tb{
	background-color: black;
}


</style>

