<style>
.resu{
	margin: 50px;
	background-color: silver;

}

.head{
	background-color: teal;
	color: white;
	padding: 10px;
}

.footer{
	background-color: teal;
}


.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}

.experience{
	border: solid;
}

.education{
	border: solid;
}

.honors{
	border: solid;
	
}

.skills{
	border: solid;
}

.extra{
	border: solid;
	
}
.topnav{
	
}
#content{
	color: black;
	width: 200px;

}



#tbl{
	width: 100%;
	border-style: solid;
}




</style>

